
<h1>{{temp}}</h1>
<table class="tab">
  <tr>
    <td class="td1">AUGUST</td>
    <td class="td1"></td>
    <td class="td1">SEPTEMBER</td>
    <td></td>
    <td class="td1">OCTOBER</td>
    <td></td>
  </tr>
  <tr>
    <td class="td1">CHANGE: {{change_month1}}</td>
    <td  class="td0">
    </td>
    <td class="td1">CHANGE: {{change_month2}}</td>
    <td  class="td0"></td>
    <td class="td1">CHANGE: {{change_month3}}</td>
    <td  class="td0"></td>
  </tr>
  <tr>
    <td class="td1">MSPR: {{mspr_month1}}</td>
    <td class="td0"></td>
    <td class="td1">MSPR: {{mspr_month2}}</td>
    <td class="td0"></td>
    <td class="td1">MSPR: {{mspr_month3}}</td>
    <td  class="td0"></td>
  </tr>
</table>
<br>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/track-stock-symbol">
  <button class="backBtn" mat-raised-button color="primary">Back to list of stocks</button></a>
