#trackBtn{
  margin-left: 1em;
}
.btn-details{
  margin-left: 5.5em;
}
.input-space{
  margin-top: 2em;
  margin-left: 7em;
  width: 50%;
  height: 120px;
  border:1px solid black;
}
.data{
  margin-left: 7em;
  width: 50%;
  height: 200px;
  border:1px solid black;
  margin-bottom: 15px;
}
.title{
  margin-left: 5em;
}
#stockInput{
  margin-left: 6em;
}
.child1, .child2 {
  display: inline-block;
}
.child2{
  margin-left: 6em;
}

h3{
  margin-left: 4.3em;
}
.errmessage{
  margin-left: 7em;
  font-size: 25px;
  color: red;
}
.btn-delete{
  border: 0;
  margin-left: 95.5%;
  cursor: pointer;
}
